<div class="row marketing">
  <div class="col-md-3 dash-grid">
    <i class="fa fa-5x fa-handshake-o"></i>
    <div class="">Un</div>
  </div>
  <div class="col-md-3 dash-grid">
    <i class="fa fa-5x fa-flask"></i>
    <div class="">Deux</div>
  </div>
  <div class="col-md-3 dash-grid">
    <i class="fa fa-5x fa-gear"></i>
    <div class="">Trois</div>
  </div>
  <div class="col-md-3 dash-grid">
    <i class="fa fa-5x fa-globe"></i>
    <div class="">Quatre</div>
  </div>
  <div class="col-md-3 dash-grid">
    <i class="fa fa-5x fa-hourglass"></i>
    <div class="">Cinq</div>
  </div>
  <div class="col-md-3 dash-grid">
    <i class="fa fa-5x fa-institution"></i>
    <div class="">Six</div>
  </div>
  <div class="col-md-3 dash-grid">
    <i class="fa fa-5x fa-map"></i>
    <div class="">Sept</div>
  </div>
</div>
